<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title><%= actor.name %></title>
</head>
<body>
  <h1><%= actor.name %></h1>
  <p><%= actor.biography %></p>
  <a href="/">Accueil</a>
</body>
</html>
