<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title><%= film.title %></title>
</head>
<body>
  <h1><%= film.title %></h1>
  <p><%= film.overview %></p>
  <p>Date de sortie : <%= film.release_date %></p>
  <a href="/">Accueil</a>
</body>
</html>
