<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title><%= item.title %></title>
</head>
<body>
  <h1><%= item.title %></h1>
  <p><%= item.content %></p>
  <a href="/news">Retour aux news</a>
</body>
</html>
