<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>News</title>
</head>
<body>
  <h1>Actualités</h1>
  <ul>
    <% news.forEach(n => { %>
      <li><a href="/news/<%= n.id %>"><%= n.title %></a></li>
    <% }) %>
  </ul>
</body>
</html>
